@{
    ViewData["Title"] = "Role error";
}

<div class="text-center">
    <p>
        <a asp-action="Login">login</a>
    </p>
    <h1 class="display-4">You don't have permisson to accset this page'</h1>
</div>
