@{
    ViewData["Title"] = "Guest Page";
}
<div>
    <p>
        <a asp-action="Login">login</a>
    </p>
<div class="text-center">
    <h1 class="display-4">This is guest page </h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

</div>